@model IEnumerable<INF272_Project.Models.HelpUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HelpUserDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disaster.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Help.Help1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HelpUserDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disaster.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Help.Help1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID,id2= item.DisasterID}) |
            @Html.ActionLink("Details", "Details", new { id = item.UserID,id2= item.DisasterID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserID, id2=item.DisasterID })
        </td>
    </tr>
}

</table>
