@model IEnumerable<INF272_Project.Models.Allergy>

@{
    ViewBag.Title = "Index";
}

<h2>Allergies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Allergy1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllergyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remedy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Allergy1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllergyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remedy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>


}

</table>
<br />
<input type="button"
       value="Go back to control page"
       onclick="location.href='@Url.Action("ControlPage", "Default")'" />