@model IEnumerable<INF272_Project.Models.Disability>

@{
    ViewBag.Title = "Index";
}

<h2>Disabilities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disability1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisabilityDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remedies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disability1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisabilityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remedies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<br />
<input type="button"
       value="Go back to control page"
       onclick="location.href='@Url.Action("ControlPage", "Default")'" />